{% extends '_main_container.html' %}

{% block title %}Dashboard{%endblock%}
{% load static %}

{% block styles %}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'styles/dashboard.scss' %}" media="screen">
{% endblock %}

{% block container_content %}
  <section class="dashboard-container">
    <h3 class="header-title">Dashboard</h3>
    {% component "dashboard_hero" user_name=user_name today_events=today_events %}{% endcomponent %}
    <div class="next-header">
      <h3 class="label">Próximos eventos</h3>
      <a href="{% url 'events' %}">ver todos</a>
    </div>
    {% component "event_carousel" events=events %}{% endcomponent %}
  </section>
{% endblock %}