annotated-types==0.7.0
asgiref==3.8.1
beautifulsoup4==4.12.3
Django==4.2.15
django-appconf==1.0.6
django-compressor==4.5.1
django-flatpickr==2.0.3
django-fontawesome==1.0
django-libsass==0.9
django-livereload-server==0.5.1
django-viewcomponent==1.0.6
fontawesomefree==6.6.0
libsass==0.23.0
psycopg2-binary==2.9.9
pydantic==2.8.2
pydantic-settings==2.4.0
pydantic_core==2.20.1
python-dotenv==1.0.1
PyYAML==6.0.2
rcssmin==1.1.2
rjsmin==1.2.2
soupsieve==2.5
sqlparse==0.5.1
tornado==6.4.1
typing_extensions==4.12.2
