$secondary_background_color: #F2F6FF;
$background_color: #cdd7ee;
$font_family: 'Poppins', sans-serif;

$white: #FFFFFF;
$primary: #267FFF;
$primary_font: #274877;
$light_gray: #A1B1C9;
$light_gray_2: #bfcfe6;

$error: #DB2C66;
$success: #00E096;