@import '../variables';
@import '../utils';

.event-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15vw;
  padding: 1rem;
  border-radius: 1rem;
  background-color: $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  cursor: pointer;
  
  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    
  }
}

.event-datetime {
  @include flex_space_between;
  margin-bottom: 1rem;
  color: $primary_font;
}

.event-location {
  margin-top: 0.5rem;
}

.event-location, .event-citystate {
  color: $primary;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}