/* line 4, static/styles/authentication.scss */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  translate: transform(-50%, -50%);
  height: 100vh; }

/* line 9, static/styles/authentication.scss */
.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
