/* line 3, static/styles/base.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 9, static/styles/base.scss */
body {
  background-color: #F2F6FF;
  font-family: "Roboto", sans-serif; }
