/* line 3, static/styles/components/dashboard_hero.scss */
.hero-container {
  background-color: #267FFF;
  color: #FFFFFF;
  padding: 30px 40px;
  border-radius: 20px;
  display: flex;
  width: 100%; }
