/* line 3, static/styles/components/dashboard_hero.scss */
.hero-container {
  background-color: #267FFF;
  color: #FFFFFF;
  padding: 20px 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column; }
