/* line 4, static/styles/event.scss */
.event-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto; }
  /* line 10, static/styles/event.scss */
  .event-section .event-container {
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    width: 100%; }
  /* line 20, static/styles/event.scss */
  .event-section .event-header {
    font-size: 2rem;
    color: #274877; }
  /* line 25, static/styles/event.scss */
  .event-section .event-content {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-direction: column; }
    /* line 31, static/styles/event.scss */
    .event-section .event-content .attribute {
      display: flex;
      flex-direction: column;
      text-align: center; }
      /* line 35, static/styles/event.scss */
      .event-section .event-content .attribute .label {
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 0.5rem; }
    /* line 43, static/styles/event.scss */
    .event-section .event-content .attribute-group {
      display: flex;
      gap: 1rem;
      justify-content: space-evenly; }
    /* line 49, static/styles/event.scss */
    .event-section .event-content p {
      color: #267FFF; }

/* line 55, static/styles/event.scss */
.success-tag {
  background-color: #00E096;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 5px 10px; }
