/* line 3, static/styles/events.scss */
.events-section {
  display: flex;
  flex-direction: column;
  margin: 30px auto; }
  /* line 38, static/styles/_utils.scss */
  .events-section h3 {
    font-size: 1.5em;
    color: #274877; }

/* line 7, static/styles/events.scss */
.create-event-button {
  display: block;
  background-color: #274877;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.9rem;
  max-width: 150px; }
  /* line 22, static/styles/_utils.scss */
  .create-event-button:hover {
    background-color: #1a3151; }
