/* line 3, static/styles/event.scss */
.event-section {
  width: 100%; }

/* line 7, static/styles/event.scss */
.event-container {
  background-color: #FFFFFF;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  width: 90%;
  align-self: center; }
