/* line 3, static/styles/components/event_card.scss */
.event-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15vw;
  height: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s; }

/* line 16, static/styles/components/event_card.scss */
.event-datetime {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem; }
