/* line 4, static/styles/event.scss */
.event-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto; }
  /* line 10, static/styles/event.scss */
  .event-section .schedule-header {
    font-size: 1.5rem;
    color: #274877;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; }

/* line 20, static/styles/event.scss */
.schedule-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto; }

/* line 27, static/styles/event.scss */
.success-tag {
  background-color: #00E096;
  color: #FFFFFF !important;
  border-radius: 5px;
  padding: 5px 10px; }

/* line 31, static/styles/event.scss */
.create-schedule-button {
  display: block;
  background-color: #274877;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.8rem;
  max-width: 150px; }
  /* line 22, static/styles/_utils.scss */
  .create-schedule-button:hover {
    background-color: #1a3151; }

/* line 39, static/styles/event.scss */
.event-header .event-header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center; }

/* line 46, static/styles/event.scss */
.edit-event-button {
  display: block;
  background-color: #267FFF;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.8rem;
  max-width: 150px; }
  /* line 22, static/styles/_utils.scss */
  .edit-event-button:hover {
    background-color: #0063f2; }

/* line 52, static/styles/event.scss */
.delete-event-button {
  display: block;
  background-color: #DB2C66;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.8rem;
  max-width: 150px; }
  /* line 22, static/styles/_utils.scss */
  .delete-event-button:hover {
    background-color: #b51f51; }
