/* line 3, static/styles/components/logout_button.scss */
.logout-button {
  display: block;
  background-color: #DB2C66;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none; }
