/* line 3, static/styles/main_container.scss */
.main-container {
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 95%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  color: #274877;
  font-size: 16px;
  line-height: 1.5;
  text-align: left; }
