/* line 4, static/styles/schedule_form.scss */
.schedule-form {
  color: #274877;
  font-size: 1.5rem;
  text-align: center; }
  /* line 9, static/styles/schedule_form.scss */
  .schedule-form h2 {
    font-size: 2rem;
    color: #267FFF;
    margin-bottom: 1rem; }
  /* line 15, static/styles/schedule_form.scss */
  .schedule-form form {
    text-align: left; }
